<div class="container">
  <div class="navBar">
      <app-categories 
      *ngFor="let category of Categories"
      [Category]='category'></app-categories>
    </div>
    <div class="search">
      <input type="text" placeholder="Search">
    </div>
</div>
<div class="topCenter">
  <div class="leftSection">
    <div class="restaurantMoto"></div>
    <div class="middle">
      <div class="restaurantDescription"></div>
      <div class="foodDisplayedCost"></div>
    </div>
    <div class="orderOnline">
      <button>
        Order Online
      </button>
    </div>
  </div>
  <div class="rightSection"></div>
</div>
<div class="center">
  <div class="sideBar">
    <app-central-section
    *ngFor="let sideCategory of sideCategories"
    [SideCategory]="sideCategory">
  </app-central-section>
  </div>
  <div class="rightSide">
    <div class="top">
      Popular Products
    </div>
    <div class="middle">
      <app-food-layout
      *ngFor="let foodLayout of FoodLayouts"
    [FoodLayout]="foodLayout"></app-food-layout>
    </div>
    <div class="bottom">
      <app-fastfood
      *ngFor="let fastFoods of FastFoods"
    [FastFood]="fastFoods"
      ></app-fastfood>
    </div>
  </div>
</div>
