.container{
    display: flex;
    background-color: pink;
    height: 450px;
    width: 850px;
    margin-left: 170px;
    margin-top: 30px;
}

.center .top{
    height: 30px;
    width: 700px;
    background-color: #CC904A;
    margin-left: 20px;
    margin-bottom: 10px;
}
.center .down{
    background-color: blue;
    margin-top: 20px;
    height: 185px;
    width: 700px;
    margin-left: 20px;
}

.middle{
    background-color: blue;
    margin-top: 10px;
    height: 185px;
    width: 700px;
    display: flex;
    margin-left: 20px;
}

.left{
    width: 130px;
    height: 415px;
    background-color: #CC904A;
}
.center .rightSide{
    background-color: #CC904A;
    margin-left: 20px;
    height: 30px;
    width: 700px;
}