<div>
<div class="foodLayout">
    <img width="220" height="120"
    *ngIf="imageAvailable(); else noImage"
    [src]="FoodLayout.image" alt="food Image">
        <ng-template #noImage>
            <p style="margin-left: 45px; margin-top: 50px; color: grey">
              <b> <i>
               No Image Available
              </i> </b>
            </p>
        </ng-template>   
</div>
<div class="foodLayoutDescription">
    <div class="descripttionOne">
        Purchase Price:
    </div>
    <div class="descriptionTwo">
       Ugs {{FoodLayout.cost}}
    </div>
</div>
<div class="foodLayoutButton">
    <div class="one">
            <button>
                Buying Now
            </button>
        </div>
        <div class="two">
            <button>
                Add to Cart
            </button>
        </div>
</div>
</div>