<div class="foodLayout">
    <img 
    [src]="" alt="food Image">
   
</div>
<div class="foodLayoutDescription">
    <div class="descripttionOne">
        Purchase Price:
    </div>
    <div class="descriptionTwo">
       Ugs {{FastFood.cost}}
    </div>
</div>
<div class="foodLayoutButton">
    <div class="one">
            <button>
                Buying Now
            </button>
        </div>
        <div class="two">
            <button>
                Add to Cart
            </button>
        </div>
</div>