.foodLayout{
    height: 120px;
    width: 220px;
    border: 1px solid lightgray;
    margin-left: 10px;
}

.foodLayoutDescription{
    margin-top: 10px;
    height: 20px;
    width: 208px;
    display: flex;
    margin-left: 10px;
    /* background-color: red; */
    padding-left: 10px;
}

.foodLayoutButton{
    height: 20px;
    margin-left: 10px;
    width: 218px;
    display: flex;
    /* background-color: green; */
}

.foodLayoutButton button{
    border-radius: 10px;
    border: none;
    color: white;
    height: 25px;
}

.foodLayoutButton .two{
    margin-left: 40px;
}

.foodLayoutButton .two button{
    background-color: red;
}

.foodLayoutButton .one button{
    background-color: green;
}
.foodLayoutButton .one{
    margin-left: 10px;
}

.descriptionTwo{
    margin-left: 35px;
}