button{
    height: 21px;
    border-radius: 5px;
    padding-left: 5px;
    cursor: pointer;
    width: 130px;
    margin-bottom: 1px;
    border: none
}

button:hover{    
    background-color: #781C1A;
    color: white
}
